.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 47.5%;
  padding: .75rem;
  margin: 0 0.5rem 2rem 0.5rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.image-selected {
  border: 5px solid #9E9E9E;
}

img {
  width: 100%;
}

.result {
  background: #ffffff;
  border: 1px solid #d9d9d9;
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
