<div class="album text-muted">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <a href="#" class="btn btn-primary" [ngClass]="{'disabled': progress != 'Text erkennen' }" (click)="recognize(selectedSample.url, $event)">{{ progress }}</a>
        </p>
      </div>
    </div>
    <div class="row" *ngIf="result">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center result">
        <div *ngFor="let line of result">
          {{ line.text }}
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let sample of samples" class="card">
        <img data-src="{{sample.url}}" [ngClass]="{'image-selected': sample.selected}" (click)="selectHandler($event, sample)" />
      </div>
    </div>
  </div>
</div>
