<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">{{ title }}</h1>
    <div class="col-md-12 text-center">
      <a href="/foto" class="btn btn-primary btn-large">Ein Foto Machen</a> <a href="/bildern" class="btn btn-primary btn-large">Wähle ein beispieler Bild</a>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
